@model IEnumerable<Voltaire.Models.ScoreNiveau>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usr_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_niveau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_diff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score_niveau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usr_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_niveau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_diff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score_niveau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
